
td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

div {
    width: 100%;
    height: 100%;
    background: red;
}
div {
    width: 100%;
    height: 100%;
    background: yellow;
}

